:root{
    --white: #EDEFEF;
    --carmesim: #dc143c;
    --background: #000000;
    --subt: #a0a0a0;

}

body{
    background-color: var(--background);
    color: var(--white)
}
.principal{
    background-image: url("photos/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 200px;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns:50% 50%;
}
.container__botao1{
    background-color: var(--carmesim);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    display: block;
    height: 25px;
    width: 375px;
    text-align: center;
    margin-bottom: 1em;
}
.container__botao2{
    background-color: transparent;
    border: 1.5px solid var(--white);
}

.descricao{
    padding-top: 250px;
    padding-right: 150px;
}
.container_botao3{
    background-color: var(--carmesim);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    display: block;
    height: 25px;
    width: 200px;
    text-align: center;
    margin-bottom: 1em;
}
.container_botao4{
    background-color: var(--carmesim);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    display: block;
    height: 25px;
    width: 200px;
    text-align: center;
    margin-bottom: 1em;
}
.container_botao5{
    background-color: var(--carmesim);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    display: block;
    height: 25px;
    width: 200px;
    text-align: center;
    margin-bottom: 1em;
}
.photo1{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.photo2{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
}
.photo3{
    width: 475px;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 20px;
}
.logo_photo{
    width: 250px;
    height: 250px;
    padding-left: 30px;
}
.subtitle{
    color: var(--subtitle);
    font-size: 0.8em;
    padding-left: 30px;
}